@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://w3resource.com/">w 3 r e s o u r c e . c o m</a>.</p>
</div>
